[submodule "thirdparty/bgfx.cmake"]
	path = thirdparty/bgfx.cmake
	url = https://github.com/JoshuaBrookover/bgfx.cmake.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = git@github.com:SDL-mirror/SDL.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = git@github.com:assimp/assimp.git
